.btn {
	@apply inline-block px-3 py-2 mb-0 font-medium leading-5 text-left border-transparent border-solid rounded-sm cursor-pointer font-open_sans;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-primary {
	@apply text-white bg-red-600;
}

.btn:hover {
	@apply bg-dnnbrown-500;
}
